<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Navigation.master.cs" Inherits="Navigation" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <style type="text/css">
        
        div#container{width:100%; height:100%;  margin:0; padding:0;}
        div#header{width:100%; height:10%; overflow:hidden;margin-bottom:0px}
        div#menu{float:left;width:18%;height:90%;background-color:#708090;padding-left:0px;margin-top:0px}
        div#main{float:left;width:82%;height:90%;background-color:GhostWhite}
        ul#navlist{width:100%;height:1000px;
            margin: 0px;padding:0px;padding-top:30px
        }
        #navlist li{list-style-type: none;background-color: #708090;color: #daa520;font-weight: 800;text-align:center;width:100%;padding:0px;margin:0px;}
        #navlist li a{color: GhostWhite;text-decoration: none;display: block;height:50px;text-align:center;line-height:50px;width:100%}
        #navlist li a:hover{background-color: #faebd7;color: #696969;}
        .navlist2{left:0px;width:60%;display:none}
        .io:hover ul.navlist2{display: block;background: #708090;}
        
       </style>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div id="container">
            <div id="header">
                <img width="100%" height="140px" src="image/head.jpg" />
            </div>
            <div id="menu">
                <ul id="navlist" >
                    <li id="active"><a href="main.aspx">首页</a></li>
                    <li><a href="Goods.aspx">商品</a></li>
                    <li><a href="order.aspx">订单</a></li>
                    <li><a href="Vip.aspx">会员</a></li>
                </ul>
            </div>
            <div id="main">
                <asp:ContentPlaceHolder id="ContentPlaceHolder2" runat="server">
        
        </asp:ContentPlaceHolder>
            </div>
        </div>
    </form>
</body>
</html>
